/* Body 
----------------------------------------------- */
body.whereintheworldis #wrapper { 
}

/* Navigation
----------------------------------------------- */
body.whereintheworldis #navigation {
  background: #3B5781;
  color: #fff;
  padding-left: 10px;
  border: 1px solid #ccc;
}

body.whereintheworldis #navigation a:link, body.whereintheworldis #navigation a:active, body.whereintheworldis #navigation a:visited { 
  color: #fff; 
}

body.whereintheworldis #navigation a:hover { 
  color: #e59900; 
}

body.whereintheworldis #wrapper .nav-current:link, body.whereintheworldis #wrapper .nav-current:visited, body.whereintheworldis #wrapper .nav-current:active { 
  color: #e59900; 
}

body.whereintheworldis #navigation div.secondary {
  width: 195px;
  float: left;
}

body.whereintheworldis #navigation div.secondary img {
  border: none;
  vertical-align: middle;
  padding-right: 5px;
}

/* Content
----------------------------------------------- */
body.whereintheworldis { 
  font-family: Verdana, Helvetica, Arial, sans-serif; 
  font-size: 76%; 
  line-height: 120%; 
  color: #404040; 
  background: #fff; 
}

body.whereintheworldis code { 
  color: #666666; 
}
body.whereintheworldis abbr, body.whereintheworldis acronym { 
  border-bottom: 1px solid #bf8060; 
}

body.whereintheworldis div.content div.img div.caption {
  color: #666666; 
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.2em;
  padding: 3px;
  text-align: center;
}

body.whereintheworldis div.content div.img a {
  border: none;
}

body.whereintheworldis p.pagination { 
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.0em;
}

body.whereintheworldis .location {
  font-style: italic;
  color: #666666;
}

/* Headers
--------------------------------------- */
body.whereintheworldis #blog-title { 
  font-family: Verdana, Helvetica, Arial, sans-serif; 
}

body.whereintheworldis #tagline { 
  font-family: Verdana, Helvetica, Arial, sans-serif; 
}

body.whereintheworldis h1, h2, h3, h4, h5, h6, body.whereintheworldis .entry .title { 
  color: #3B5781;
  font-family: Verdana, Helvetica, Arial, sans-serif; 
}

body.whereintheworldis h4 {
  border-bottom: #e5e5e5 1px solid;
  font-size: 1em;
}

/* Post content
--------------------------------------- */
body.whereintheworldis .articlenav { 
  background: #fcfeff; 
}

/* Inserts
--------------------------------------- */
body.whereintheworldis .insert { 
  background: #fcfeff; 
  margin: 0 0 1em 0; 
  border: 1px solid #cfdde5; 
  padding: 9px; 
}

body.whereintheworldis .insert h3 { 
  border-bottom: 1px solid #cfdde5; 
}

/* Downloads
--------------------------------------- */		
body.whereintheworldis .content a.download:link, body.whereintheworldis .content a.download:visited, body.whereintheworldis .content a.download:active { 
  background-color: #fcfeff; 
  border: 1px solid #cfdde5; 
}

/* Images
--------------------------------------- */
body.whereintheworldis a img { 
  border: 1px solid #0f6b99; 
}
body.whereintheworldis a:hover img, body.whereintheworldis .comment a:hover .avatar { 
  border: 1px solid #e59900; 
}

/* Links
----------------------------------------------- */
body.whereintheworldis a:link, body.whereintheworldis a:active, body.whereintheworldis a:visited { color: #0f6b99; }
body.whereintheworldis a:hover { color: #e59900; }

body.whereintheworldis .content a:link, body.whereintheworldis .content a:active, body.whereintheworldis .content a:visited, body.whereintheworldis .link-pages a:link, body.whereintheworldis .link-pages a:active, body.whereintheworldis .link-pages a:visited, body.whereintheworldis .tagdata a:link, body.whereintheworldis .tagdata a:active, body.whereintheworldis .tagdata a:visited, body.whereintheworldis .widget_tag_cloud a:link, body.whereintheworldis .widget_tag_cloud a:active, body.whereintheworldis .widget_tag_cloud a:visited { border-bottom: 1px solid #cfdde5; }
body.whereintheworldis .content a:hover, body.whereintheworldis .link-pages a:hover, body.whereintheworldis .tagdata a:hover, body.whereintheworldis .widget_tag_cloud a:hover { border-bottom: 1px solid #e59900; }

/* Widgets
----------------------------------------------- */

/* Calendar widget
------------------------------------------- */
body.whereintheworldis .widget_calendar tbody td a { color: #fff; background: #8bb6cc; }
body.whereintheworldis .widget_calendar tbody td a:hover { color: #fff; background: #cca352; }

