<div id="logo">
  <%= image_tag "globe-36.png" %>
</div>

<div id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/travellers">Travellers</a></li>
    <li><a href="/trips">Trips</a></li>
    <li class="last"><a href="/about">About</a></li>
  </ul>
</div>
